body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
  font-size: 100%;
}
p {
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #36ae7c;
  font-size: 250%;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #36ae7c;
}

h1 {
  margin: 0;
  font-family: "Sacramento", cursive;
  font-size: 90px;
  color: #66bfbf;
  margin-top: 70px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #dae5d0;
  border-width: 10px;
  width: 5%;
  margin: 100px auto;
}

.caption {
  color: #66bfbf;
  font-size: 1.56rem;
  margin-top: 0;
}

.navbar-toggler {
  border-color: #e8f9fd;
}

a {
  color: #11999e;
}
.top-panel {
  background-color: #e8f9fd;
  text-align: right;
  padding: 3.125rem 3.125rem 1.563rem;
}
.top-link {
  text-align: center;
  display: inline-block;
  color: #66bfbf;
  width: 100px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 120%;
  transition: 0.3s;
}

.top-link:hover {
  color: white;
  text-decoration: none;
}

.top-container {
  background-color: #e8f9fd;
  position: relative;
  padding-top: 1.25rem;
  margin-bottom: 6.25rem;
}
.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill1 {
  width: 20.3%;
  float: left;
  margin-right: 30px;
}
.skill2 {
  width: 20.3%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 400px;
}

.profile {
  padding-top: 10px;
}

.middle-container {
}
.contactmessage {
  width: 30%;
  margin: 40px auto 40px;
}

.bottom-container {
  background-color: #bdf2d5;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: 50px;
}

.btn:hover {
  background-color: #36ae7c;
}

.footer-link {
  display: inline-block;
  width: 200px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #36ae7c;
  font-size: 25px;
  transition: 0.5s;
}

.footer-link:hover {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .top-link {
    font-size: 200%;
    width: 200px;
  }

  .intro {
    width: 70%;
  }
  .top-cloud {
    right: 150px;
  }
  .bottom-cloud {
    left: 150px;
  }
  .skill-row {
    width: 70%;
    margin: 50px auto;
  }
  .contactmessage {
    width: 70%;
    margin: 20px auto;
  }
  .mountain-image {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .top-panel {
    text-align: center;
    padding: 1.5rem 1.5rem 1rem;
  }
  .top-cloud {
    position: absolute;
    right: 0;
  }

  .bottom-cloud {
    position: absolute;
    left: 0;
    top: 33%;
  }

  .top-link {
    width: 50px;
  }
  .skill-row,
  .intro,
  .contactmessage {
    width: 80%;
  }

  .footer-link {
    font-size: 20px;
  }
}
